/*colors:
#004d00
#ddff99
#330000
#669900
#fff
#000*/


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');


* {
    font-family: 'Asap', sans-serif;
    line-height: 1.4;
}

.wrapper {
    background-color: #e6ffcc;
    margin: 0 auto;
    min-width: 28rem;
    
}

.masthead {
    height: 200px;
    background-image: url("../img/green-bulb.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 40px;
 }

.masthead h1 {
    font-family: 'Noto Serif', serif;
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 0px 2px 10px #000;
    padding-top: 45px;

}

nav ul {
    padding-left: 0;
}

nav ul li{
    list-style: none;
    margin: 6px;
}

.navigation a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #004d00;      
}

.buttons {
    text-align: center;
    background-color: #ddff99;
    height: 75px;
    padding-top: 12px;
}

button {
    margin: 0.5rem;
    padding: 10px;
    border-radius: 10px;
    background-color: #669900;
    color: #fff;
}

#active-button {
    background-color: #330000;
}

h1 {
    color:#004d00;
    font-family: 'Asap', sans-serif;
}

#content img {
    width: 100%;
}

.social-links {
    text-align: center;
}

.social-links img {
    width: 30px;
    margin: 30px;
}

footer {
    text-align: center;
}

/*media queries*/

@media only screen and (min-width: 30rem){
    .wrapper {
        max-width: 60rem;
    }
    
    *{
        font-size: 1rem;
        line-height: 1.6;
    }
    .masthead h1{
        font-size: 2.5rem;
        padding-top: 65px;
    }
    
    .navigation a {
        display: inline;
        padding: 17px 3%;
        border-radius: 10px;
    }
    
    nav {
        padding:15px 0px;
    }
    
    nav ul li {
        display: inline;
        margin: 4%;
    }
    
    nav ul {
        text-align: center;
    }
    
    #content img {
        float: left;
        width: 250px;
        height: auto;
        max-width: 270px;
        max-height: 170px;
        margin-right: 10px;
    }
    
    .social-links {
        clear: both;
    }
}
